@model Intwenty.MetaDataService.Model.IUIBinding

<div class="form-group">
    <label class="control-label">
        @Model.Title @{ if (Model.Mandatory)
            { <span style="color: red"> *</span> }}
    </label>
    <input id="@Model.UIId"  type="text" class="form-control form-control-sm" v-model="model.@Model.DataTableDbName.@Model.DataColumnDbName" v-on:input="onUserInput(event)" data-metatype="TEXTBOX" data-dbfield="@Model.DataColumnDbName" data-required="@Model.Mandatory" />
</div>