@model UserInterfaceModelItem

<ul class="nav">
    @if (Model.HasCreateFunction)
    {
        @if (Model.CreateFunction.IsModalAction)
        {


            <li class="nav-item">
                <button class="nav-link btn btn-sm btn-outline-secondary" v-on:click="openSubTableModal(null,'@Model.CreateFunction.ActionMetaCode','@Model.DataTableDbName')"><span class="fa fa-plus"></span> @Model.CreateFunction.LocalizedTitle</button>
            </li>

        }
    }

    @await Html.PartialAsync("UISections/_ApplicationSubTableHeaderButtons", Model)
</ul>