@model Intwenty.Model.ViewModel
<!-- ADD EXTRA BUTTONS -->
<!-- Override Views/Application/UISections/_ApplicationViewHeaderButtons.cshtml in  an application that references the intwenty nuget package -->
<!-- It adds extra buttons in a view header  -->
<!-- Example -->
<!--
<li class="nav-item">
    <button class="nav-link btn btn-sm btn-outline-secondary" type="button" v-on:click="functionToCall()" style="margin:10px"><span class="fa fa-cogs"></span>Button 1</button>
</li>
<li class="nav-item">
    <a href="#" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left"></span>Button 2</a>
</li>
-->
