@model UserInterfaceModelItem

<div class="modal" id="addEditModal_@Model.MetaCode" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.LocalizedTitle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="addEditModalBody_@Model.MetaCode">

                    @if (Model.IsMetaTypeInputInterface && Model.IsMainApplicationTableInterface)
                    {
                        Model.CurrentRenderContext = CurrentRenderContextOptions.ModalView;
                        @await Html.PartialAsync("UISections/_InputInterface", Model);
                    }
                    @if (Model.IsMetaTypeInputInterface && Model.IsSubTableUserInterface)
                    {
                        Model.CurrentRenderContext = CurrentRenderContextOptions.ModalSubTable;
                        @await Html.PartialAsync("UISections/_InputInterface", Model);
                    }

                </div>
            </div>
            <div class="modal-footer">
                <button id="addEditModalSaveBtn_@Model.MetaCode" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">@Localizer["Save"]</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>