@model Intwenty.Model.UIRendering.UIView

@if (!Model.Columns.Exists(p => p.HasPropertyWithValue("HIDEFILTER", "TRUE")))
{
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Value</label>
            <input type="text" class="form-control form-control-sm" v-model="model.filtervalue" v-on:blur="handleFilterValue" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Filter</label>
            <select v-model="model.filterfield" class="form-control form-control-sm">
                @{
                    foreach (var c in Model.Columns)
                    {
                        <option value="@c.DataColumnInfo.DbName">@c.Title</option>
                    }
                }
            </select>
        </div>
    </div>
</div>
}



<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th style="width:5%"></th>
            <th style="width:5%"></th>
            @{
                foreach (var c in Model.Columns)
                {
                    <th v-on:click="sortBycolumn('@c.DataColumnInfo.DbName')" style="cursor:pointer">@c.Title <span class="fa fa-sort-alpha-down-alt"></span></th>

                }
            }
        </tr>
    </thead>
    <tr v-for="item in sortedResults">
        <td style="vertical-align:middle"><button class="btn btn-sm btn-danger" v-on:click="deleteApplication(item)"><span class="fas fa-trash" title="Remove"></span></button></td>
        <td style="vertical-align:middle"><a v-bind:href="'/Application/Edit/@Model.ApplicationId/' + item.Id" class="btn btn-sm btn-secondary" role="button"><span class="fas fa-edit" title="Edit"></span></a></td>
        @{
            foreach (var c in Model.Columns)
            {

              
                    if (c.IsMetaTypeImage)
                    {
                        <td>
                            <img v-bind:src="item.@c.DataColumnInfo.DbName" width="80" class="rounded" />
                        </td>
                    }
                    else
                    {
                        <td>{{item.@c.DataColumnInfo.DbName}}</td>
                    }
                }

            }
        }
    </tr>

</table>
<nav>
    <ul class="pagination">
        <li class="page-item" v-bind:class="{ disabled: isFirstPage }"><a class="page-link" href="#" v-on:click="prevpage()">Previous {{listRetrieveInfo.batchSize}}</a></li>
        <li class="page-item"><a class="page-link" href="#" v-on:click="nextpage()">Next {{listRetrieveInfo.batchSize}}</a></li>
    </ul>
</nav>

