@model Intwenty.MetaDataService.Model.ApplicationModel

@if (!Model.UIStructure.Exists(p => p.HasPropertyWithValue("HIDEFILTER", "TRUE")))
{
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-3"></div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Value</label>
            <input type="text" class="form-control" v-model="model.filtervalue" v-on:blur="handleFilterValue" />
        </div>
    </div>
    <div class="col-lg-2">
        <div class="form-group">
            <label class="control-label">Filter</label>
            <select v-model="model.filterfield" class="form-control">
                @{
                    foreach (var c in Model.UIStructure)
                    {

                        if (c.IsUITypeListViewField && c.IsDataConnected)
                        {
                            <option value="@c.DataInfo.DbName">@c.Title</option>
                        }

                    }
                }
            </select>
        </div>
    </div>
</div>
}



<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:10%"></th>
            @{
                foreach (var c in Model.UIStructure)
                {

                    if (c.IsUITypeListViewField && c.IsDataConnected)
                    {
                        <th v-on:click="sortBycolumn('@c.DataInfo.DbName')">@c.Title <span class="glyphicon glyphicon-sort-by-attributes-alt"></span></th>
                    }

                }
            }
        </tr>
    </thead>
    <tr v-for="item in sortedResults">
        <td><a v-bind:href="'/Application/Open/@Model.Application.Id/' + item.Id">Open</a></td>
        @{
            foreach (var c in Model.UIStructure)
            {

                if (c.IsUITypeListViewField && c.IsDataConnected)
                {
                    <td>{{item.@c.DataInfo.DbName}}</td>
                }

            }
        }
    </tr>

</table>

<ul class="pagination">
    <li v-bind:class="{ disabled: isFirstPage }"><a href="#" v-on:click="prevpage()">Previous {{listRetrieveInfo.batchSize}}</a></li>
    <li><a href="#" v-on:click="nextpage()">Next {{listRetrieveInfo.batchSize}}</a></li>
</ul>


