@model Intwenty.Model.UIRendering.UIView

@if (!Model.HasPropertyWithValue("HIDEFILTER", "TRUE"))
{

    <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">

            <button v-on:click="model.showFilter=!model.showFilter" style="float:right">
                <i class="fas fa-search"></i>
                <span v-if="model.showFilter">Hide</span>
                <span v-if="!model.showFilter">Show</span>
            </button>

            <br />
            <br />

            <fieldset style="padding:5px; border:1px solid black; border-radius:4px; float:right" v-if="model.showFilter">

                <div class="row">
                    <div class="col-lg-5">Filter</div>
                    <div class="col-lg-5">Value</div>
                    <div class="col-lg-2"></div>
                </div>

                <div class="mt-2"></div>

                <div class="row" v-for="filteritem in pageInfo.filterValues">

                    <div class="col-lg-5">
                        <div class="form-group">
                            <select v-model="filteritem.columnName" class="form-control form-control-sm">
                                @{
                                    foreach (var c in Model.Columns)
                                    {
                                        <option value="@c.DataColumnDbName">@c.Title</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="text" class="form-control form-control-sm" v-model="filteritem.value" v-on:blur="runFilter" />
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteFilterValue(filteritem)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>

                </div>

                <button type="button" v-on:click="addFilterValue"><span class="fa fa-plus"></span></button>

            </fieldset>

        </div>
    </div>

    <br />

}



<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th style="width:5%"></th>
            <th style="width:5%"></th>
            @{
                foreach (var c in Model.Columns)
                {
                    <th v-on:click="sortBycolumn('@c.DataColumnDbName')" style="cursor:pointer">@c.Title <span class="fa fa-sort-alpha-down-alt"></span></th>

                }
            }
        </tr>
    </thead>
    <tr v-for="item in sortedResults">
        <td style="vertical-align:middle"><button class="btn btn-sm btn-danger" v-on:click="deleteApplication(item)"><span class="fas fa-trash" title="Remove"></span></button></td>
        <td style="vertical-align:middle"><a v-bind:href="'/Application/Edit/@Model.ApplicationId/' + item.Id" class="btn btn-sm btn-secondary" role="button"><span class="fas fa-edit" title="Edit"></span></a></td>
        @{
            foreach (var c in Model.Columns)
            {

                if (c.IsMetaTypeImage)
                {
                    <td>
                        <img v-bind:src="item.@c.DataColumnDbName" width="80" class="rounded" />
                    </td>
                }
                else
                {
                    <td>{{item.@c.DataColumnDbName}}</td>
                }
            }

        }

    </tr>

</table>
<nav>
    <ul class="pagination">
        <li class="page-item" v-bind:class="{ disabled: isFirstPage }"><a class="page-link" href="#" v-on:click="prevpage()">Previous {{pageInfo.batchSize}}</a></li>
        <li class="page-item" v-bind:class="{ disabled: isLastPage }"><a class="page-link" href="#" v-on:click="nextpage()">Next {{pageInfo.batchSize}}</a></li>
    </ul>
</nav>

