

@{

    var systems = new List<SystemModelItem>();
    var menutitle = "Menu";
    var apps = ModelRepository.GetLocalizedAuthorizedApplicationModels(User);
    //var menuobjects = ModelRepository.GetLocalizedMenuModels();
    //var mainmenu = menuobjects.Find(p => p.IsMetaTypeMainMenu);
    //if (mainmenu != null)
    //{
    //    menutitle = mainmenu.Title;
    //}

    foreach (var a in apps)
    {
        if (!systems.Exists(p => p.MetaCode == a.SystemMetaCode))
        {
            if (a.SystemInfo != null && apps.Exists(p=> p.SystemMetaCode == a.SystemMetaCode))
            {
                systems.Add(a.SystemInfo);
            }
        }
    }

}





<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fa-table"></span> @menutitle</span> <span class="caret"></span></a>
    <div class="dropdown-menu">
        @{


            //if (mainmenu == null)
            //{
            //    return;
            //}

            var cnt = 0;
            foreach (var sys in systems)
            {
                if (cnt > 0)
                {
                    <div class="dropdown-divider"></div>
                }
                <div class="dropdown-item"><strong>@sys.Title</strong></div>
                <div class="dropdown-divider"></div>

                foreach (var app in apps.Where(p => p.SystemMetaCode == sys.MetaCode))
                {
                    <a class="dropdown-item" asp-controller="Application" asp-action="EditList" asp-route-id="@app.Id">@app.LocalizedTitle</a>
                }

                <!--
                foreach (var menuitem in menuobjects.Where(p => p.IsMetaTypeMenuItem && p.ParentMetaCode == mainmenu.MetaCode && p.SystemMetaCode == sys.MetaCode))
                {
                    if (menuitem.Application != null && apps.Exists(p => p.MetaCode == menuitem.Application.MetaCode))
                    {
                        <a class="dropdown-item" asp-controller="menuitem.Controller" asp-action="menuitem.Action" asp-route-id="menuitem.Application.Id">menuitem.Title</a>
                    }
                    else
                    {
                        if (menuitem.Application == null)
                        {
                            <a class="dropdown-item" asp-controller="menuitem.Controller" asp-action="menuitem.Action">menuitem.Title</a>
                        }

                    }
                }
            -->

                cnt++;
            }

        }


    </div>
</li>