<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fas-users"></span><i class="fa fa-users"></i> Identity Management</span> <span class="caret"></span></a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Identity" asp-page="/IAM/UserList"><span class="fas fa-users"></span> Users</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/IAM/OrganizationList"><span class="fas fa-user"></span> Organizations</a>
        <a class="dropdown-item" asp-area="Identity" asp-page="/IAM/ProductList"><span class="fab fa-product-hunt"></span> Products</a>
        @if (User.IsInRole("SUPERADMIN"))
        {
            <a class="dropdown-item" asp-controller="Model" asp-action="EventLog" asp-route-logname="IAM"><span class="fa fa-cogs"></span> Logviewer</a>
        }
    </div>
</li>