

@{

    var systems = new List<SystemModelItem>();
    var apps = ModelRepository.GetLocalizedAuthorizedApplicationModels(User);
    foreach (var a in apps)
    {
        if (!systems.Exists(p => p.MetaCode == a.SystemMetaCode))
        {
            if (a.SystemInfo != null && apps.Exists(p=> p.SystemMetaCode == a.SystemMetaCode))
            {
                systems.Add(a.SystemInfo);
            }
        }
    }

}





<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><span class="nav-label"><span class="fa fa-table"></span> @Localizer["MAINMENUTITLE"]</span> <span class="caret"></span></a>
    <div class="dropdown-menu">
        @{



            var cnt = 0;
            foreach (var sys in systems)
            {
                if (cnt > 0)
                {
                    <div class="dropdown-divider"></div>
                }
                <div class="dropdown-item"><strong>@sys.Title</strong></div>
                <div class="dropdown-divider"></div>

                foreach (var app in apps.Where(p => p.SystemMetaCode == sys.MetaCode))
                {
                    <a class="dropdown-item" asp-controller="Application" asp-action="EditList" asp-route-id="@app.Id">@app.LocalizedTitle</a>
                }

                cnt++;
            }

        }


    </div>
</li>