<h4>Configuration</h4>

<div class="row">
    <div class="col-lg-6">

        <div class="form-group">
            <label class="control-label">System<span style="color: red"> *</span></label>
            <select id="cbSystem" v-model="model.systemMetaCode" class="form-control form-control-sm" :disabled="model.id > 0" v-on:input="setCodes">
                <option v-for="sys in systems" v-bind:value="sys.metaCode">{{sys.title}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Title<span style="color: red"> *</span></label>
            <input id="apptitle" type="text" class="form-control form-control-sm" v-model="model.title" v-on:input="setCodes" />
        </div>

        <div class="form-group">
            <label class="control-label">Description<span style="color: red"> *</span></label>
            <input id="appdescr" type="text" class="form-control form-control-sm" v-model="model.description" />
        </div>

        <div class="form-group">
            <label class="control-label">Database name<span style="color: red"> *</span></label>
            <input id="appdbname" type="text" class="form-control form-control-sm" v-model="model.dbName" :disabled="model.id > 0" />
        </div>

        <div class="form-group">
            <label class="control-label">Code<span style="color: red"> *</span></label>
            <input id="appmetacode" type="text" class="form-control form-control-sm" v-model="model.metaCode" :disabled="model.id > 0" />
        </div>

        <div class="form-group">
            <label class="control-label">Data Mode</label>
            <select id="cbTenantIsolvl" v-model="model.dataMode" class="form-control form-control-sm">
                <option value="0">Standard</option>
                <option value="1">Simple</option>
            </select>
        </div>

        <div class="form-group">
            <input id="useversioning" type="checkbox" v-model="model.useVersioning" :disabled="model.id > 0" /> Use Versioning
        </div>

        <div class="form-group">
            <label class="control-label">Tenant Isolation Level</label>
            <select id="cbTenantIsolvl" v-model="model.tenantIsolationLevel" class="form-control form-control-sm">
                <option value="0">None</option>
                <option value="1">User</option>
                <option value="2">Organization</option>
            </select>
        </div>

        <div class="form-group">
            <label class="control-label">Tenant Isolation Method</label>
            <select id="cbTenantIsoMet" v-model="model.tenantIsolationMethod" class="form-control form-control-sm">
                <option value="0">None</option>
                <option value="1">ByRows</option>
                <option value="2">ByTables</option>
            </select>
        </div>

    </div>
    <div class="col-lg-6">

       

        <div class="alert alert-primary" role="alert">
            <i class="far fa-question-circle"></i>
            <br />
            <br />
            <strong>Data Mode</strong><br />
            <hr />
            <strong>Standard</strong><br />Use all standard features including instance catalog and subtables  <br /><br />
            <strong>Simple</strong><br />Use this mode for performance. Only one table per application is allowed and it is not possible to use versioning or other features <br /><br />
            <br />
            <br />
            <strong>Versioning</strong><br />
            <hr />
            If versioning is applied, database updates will generate new versions (inserts) of rows rather than updating them.
            <br />
            <br />
            <strong>Tenant Isolation</strong><br />
            <hr />
            <strong>None</strong><br />All data is accessible to all authorized users <br /><br />
            <strong>User</strong><br />Authorized users are limited to access their own data <br /><br />
            <strong>Organization</strong><br />Authorized users can access all data that is owned by the user's organization<br /><br />
            <br />
            <strong>Tenant Isolation Method</strong><br />
            <hr />
            <strong style="width:100px">None: </strong> None <br />
            <strong style="width:100px">ByRows: </strong> Tenants use the same tables <br />
            <strong style="width:100px">ByTables: </strong> Tenants store the data in their own tables
        </div>
    </div>
</div>


