<div class="modal" id="msg_dlg_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="msg_dlg_modal_hdr" class="modal-title">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="msg_dlg_modal_text"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="msg_dlg_modal_closebtn">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="yesno_dlg_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="yesno_dlg_modal_hdr" class="modal-title">Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="yesno_dlg_modal_text"></p>
            </div>
            <div class="modal-footer">
                <button id="yesno_dlg_modal_yesbtn" type="button" class="btn btn-sm btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="tech_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">About Intwenty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Technologies</h5>
                <ul>
                    <li>asp.net core 3.1</li>
                    <li>bootstrap 4.3.7</li>
                    <li>vue.js 2.6.11</li>
                    <li>jquery 3.3.1</li>
                    <li>alasql 0.5.5</li>
                </ul>
                <h5>Licence</h5>
                <p>Massachusetts Institute of Technology</p>
                <h5>Author</h5>
                <p>Johan Filipsson</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="property_dlg_modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="property_dlg_modal_hdr" class="modal-title">Properties</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="property_dlg_modal_body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>