<div>
    <div class="form-group">
        <label class="control-label">
          Property 
        </label>
        <select id="propcbox"
                name="propcbox"
                class="form-control form-control-sm">
            <option v-for="item in validProperties" v-bind:value="item.Code">{{item.title}}</option>
        </select>
    </div>

    <hr />

    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in active_metaproperties.propertyPresentations">
                <td>{{item.title}}</td>
                <td>{{item.presentationValue}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>


</div>