@model Intwenty.Model.ViewModel
<!-- ADD EXTRA BUTTONS -->
<!--
<li class="nav-item">
    <button class="nav-link btn btn-sm btn-outline-secondary" type="button" v-on:click="functionToCall()" style="margin:10px"><span class="fa fa-cogs"></span>Button 1</button>
</li>
 -->


