@model UserInterfaceModelItem
    <!-- ADD EXTRA BUTTONS -->

@if (Model.ApplicationInfo.Id == 210)
{
   
    <li class="nav-item">
        <a href="#" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left"></span>View Form Layout</a>
    </li>

}
