@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<br />
<br />


<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body">
        <div class="alert alert-danger">You do not have access to this resource.</div>
    </div>
</div>



