@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}


<br />
<br />
<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>
