@page
@model ExternalLoginModel


@{
    ViewData["Title"] = "Error creating account from " + Model.LoginProvider;
}


<br />
<br />
<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body">
        <p class="alert alert-secondary">

    There was an error when creating an associated @Model.LoginProvider account. Sorry for the inconvenience.

        </p>
    </div>
</div>




