@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password ?";
}

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body"><div class="alert alert-primary">Enter your email.</div></div>
</div>

<br />
<br />

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>Email</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

