@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body">
        <div class="alert alert-danger">This account has been locked out, please try again later.</div>
    </div>
</div>


