@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Reset password confirmation"].Value;
}

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body"><div class="alert aleert-success">@Localizer["Your password has been reset"] <a asp-page="./Login">@Localizer["Login"]</a></div></div>
</div>


