@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<br />
<br />

<div class="card">
    <div class="card-header"><h2>@ViewData["Title"]</h2></div>
    <div class="card-body"><div class="alert aleert-success">Your password has been reset. Please <a asp-page="./Login">click here to log in</a></div></div>
</div>


