@model List<Intwenty.Models.OperationResult>

@{
    ViewData["Title"] = "Configure database";
}


<br />
<br />

<div>

    @{
        foreach(var t in Model)
        {

            foreach (var x in t.Messages)
            {

                <p>@x.Message</p>

            }

        }
    }

</div>