

@{
    ViewData["Title"] = "Create new application";
}



<div id="app">

    <br />
    <br />

    <div class="panel panel-default">
        <div class="panel-heading"><h2>Create new application</h2></div>
        <div class="panel-body">
            Create basic meta data for a new application.
        </div>
    </div>

    <br />
    <br />

    @await Html.PartialAsync("_MetaAppDescription")

    <button class="btn btn-primary" type="button" v-on:click="createApplication()"><span class="glyphicon glyphicon-save"></span> Save</button>

</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    id: -1, title: "", dbName: "", mainMenuItem: {}},
            },
            methods:
            {
                createApplication: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/ApplicationInfo/")';
                    var endpointurl = baseurl + "Save";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response) {
                            endpointurl = baseurl + "Edit/" + response.id;
                            window.location.href = endpointurl;
                        }
                    });
                },
                setCodes: function ()
                {
                    var context = this;
                    var str = context.model.title;

                    if (!str)
                        return;

                    var metacode = "";
                    for (var i = 0; i < str.length; i++)
                    {
                        if (str[i].toLowerCase() != str[i].toUpperCase())
                        {
                            metacode += str[i];
                        }
                    }

                    if (metacode && metacode.length > 3)
                        context.model.metaCode = metacode.toUpperCase().replace(' ', '');

                 
                    var dbname = context.model.metaCode;
                    if (dbname && dbname.length > 3)
                    {
                        dbname = dbname[0].toUpperCase() + dbname.slice(1).toLowerCase();
                        context.model.dbName = dbname;

                    }
                    

                }
            },
            mounted: function ()
            {

            }
        })

    </script>
}