

@{
    ViewData["Title"] = "Edit application";
}



<div id="app">

    <br />
    <br />

    <h2>Manage UI for application {{model.title}}</h2>
    <br />
    <br />


    <h4>Input User Interface</h4>

    <div>
        <div class="btn btn-primary" v-on:click="addUIComponent">
            <span class="glyphicon glyphicon-plus"></span> Add input field
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:5%">ID</th>
                <th style="width:20%">Title <span style="color: red"> *</span></th>
                <th style="width:15%">UI Type <span style="color: red"> *</span></th>
                <th style="width:15%">Table DB Connection <span style="color: red"> *</span></th>
                <th style="width:20%">Colum DB Connection <span style="color: red"> *</span></th>
                <th style="width:20%">Domain</th>
            </tr>
        </thead>
        <tbody v-for="item in uicomponents">
            <tr>
                <td>{{item.id}}</td>
                <td><input type="text" class="form-control" v-model="item.title" /></td>
                <td>
                    <select v-model="item.metaType" class="form-control">
                        <option v-for="uit in uitypes" v-bind:value="uit">{{uit}}</option>
                    </select>
                </td>
                <td>
                    <select v-model="item.tableName" class="form-control">
                        <option v-for="tbl in tables" v-bind:value="tbl.dbName">{{tbl.dbName}}</option>
                    </select>
                </td>
                <td>
                    <select v-model="item.columnName" class="form-control" :disabled="item.metaType=='LOOKUP'">
                        <option v-for="col in columns(item)" v-bind:value="col.dbName">{{col.dbName}}</option>
                    </select>
                </td>
                <td>
                    <div v-if="item.metaType=='COMBOBOX'">
                        <select v-model="item.domain" class="form-control">
                            <option v-for="vd in valuedomains" v-bind:value="vd">{{vd}}</option>
                        </select>
                    </div>
                    <div v-if="item.metaType=='LOOKUP'">
                        <select v-model="item.domain" class="form-control">
                            <option v-for="dv in dataviews" v-bind:value="dv">{{dv}}</option>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="5">
                    <div v-if="item.metaType=='LOOKUP'">

                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Title <span style="color: red"> *</span></th>
                                    <th>Colum DB Connection <span style="color: red"> *</span></th>
                                    <th>Dataview field<span style="color: red"> *</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Key field</td>
                                    <td>
                                        <input type="text" class="form-control" v-model="item.lookUpKeyFieldTitle" />
                                    </td>
                                    <td>
                                        <select v-model="item.keyField" class="form-control">
                                            <option v-for="tbl in tables" v-bind:value="tbl.dbName">{{tbl.dbName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select v-model="item.lookUpKeyFieldColumnName" class="form-control">
                                            <option v-for="col in columns" v-bind:value="col.dbName">{{col.dbName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select v-model="item.lookUpKeyFieldDataViewField" class="form-control">
                                            <option v-for="dvf in dataviewfields" v-bind:value="dvf">{{dvf}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Look up field</td>
                                    <td>
                                        <input type="text" class="form-control" v-model="item.lookUpFieldTitle" />
                                    </td>
                                    <td>
                                        <select v-model="item.lookUpFieldTableName" class="form-control">
                                            <option v-for="tbl in tables" v-bind:value="tbl.dbName">{{tbl.dbName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select v-model="item.lookUpFieldColumnName" class="form-control">
                                            <option v-for="col in columns" v-bind:value="col.dbName">{{col.dbName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select v-model="item.lookUpFieldDataViewField" class="form-control">
                                            <option v-for="dvf in dataviewfields" v-bind:value="dvf">{{dvf}}</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>


                   

                    </div>
                </td>
            </tr>
        </tbody>
    </table>






</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {},
                tables: [],
                uicomponents: [],
                uitypes: [],
                valuedomains: [],
                dataviews: [],
            },
            methods:
            {
                saveApplication: function () {
                    var context = this;
                    var baseurl = '@Url.Content("~/ApplicationInfo/")';
                    var endpointurl = baseurl + "Save";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response) {
                            window.location.reload(true);
                        }
                    });
                },
                setCodes: function () {


                },
                addDbTable: function () {
                    var context = this;
                    context.tables.push({ properties: "ISNEW=TRUE", metaType: "DATAVALUETABLE" });
                },
                addDbColumn: function () {
                    var context = this;
                    context.columns.push({ properties: "ISNEW=TRUE", metaType: "DATAVALUE" });
                }
                ,
                addUIComponent: function () {
                    var context = this;
                    context.uicomponents.push({ properties: "ISNEW=TRUE" });
                }
            },
            computed:
            {
                columns: function (item)
                {
                    var context = this;
                    for (var i = 0; i < context.tables.length; i++)
                    {
                        if (context.tables[i].dbName === item.tableName)
                        {
                            return context.tables[i].columns;
                        }
                    }
                }
            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/ApplicationInfo/")';
                var endpointurl = baseurl + "GetApplication/@ViewBag.SystemId";
                //Application
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                });

                //Tables
                endpointurl = baseurl + "GetApplicationListOfDatabaseTables/@ViewBag.SystemId";
                $.get(endpointurl, function (response)
                {
                    context.tables = response;
                });


                //UI Types
                endpointurl = baseurl + "GetApplicationUITypes";
                $.get(endpointurl, function (response)
                {
                    context.uitypes = response;
                });

                 //UI
                endpointurl = baseurl + "GetApplicationUIComponents/@ViewBag.SystemId";
                $.get(endpointurl, function (response)
                {
                    context.uicomponents = response;
                });


                //DataViews
                endpointurl = baseurl + "GetDataViews";
                $.get(endpointurl, function (response) {
                    context.dataviews = response;
                });

               
            }
        })

    </script>
}