

@{
    ViewData["Title"] = "Edit application";
}



<div id="app">

    <br />
    <br />

    <div class="panel panel-default">
        <div class="panel-heading"><h2>Modify <i>{{model.title}}</i></h2></div>
        <div class="panel-body">
            Modify basic application meta data for {{model.title}}
        </div>
    </div>

    <br />

    <a asp-action="GetList" asp-controller="ApplicationInfo" role="button" class="btn btn-default"><span class="glyphicon glyphicon-backward"></span> Back</a>
    <button class="btn btn-primary" type="button" v-on:click="saveApplication()" style="float:right"><span class="glyphicon glyphicon-save"></span> Save changes</button>

    <br />
    <br />

    @await Html.PartialAsync("_MetaAppDescription")


    <br />
    <br />



</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {},
                tables: [],
                datatypes: [],
                columns: [],
                uicomponents: [],
                uitypes: [],
                valuedomains: [],
                dataviews: [],
                dataviewfields: []
            },
            methods:
            {
                saveApplication: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/ApplicationInfo/")';
                    var endpointurl = baseurl + "Save";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response) {
                            window.location.reload(true);
                        }
                    });
                },
                setCodes: function ()
                {
                   

                },
                addDbTable: function () {
                    var context = this;
                    context.tables.push({properties:"ISNEW=TRUE", metaType:"DATAVALUETABLE"});
                },
                addDbColumn: function () {
                    var context = this;
                    context.columns.push({ properties: "ISNEW=TRUE", metaType: "DATAVALUE" });
                }
                ,
                addUIComponent: function () {
                    var context = this;
                    context.uicomponents.push({ properties: "ISNEW=TRUE", dataInfo: {}, viewInfo: {} });
                }
            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/ApplicationInfo/")';
                var endpointurl = baseurl + "GetApplication/@ViewBag.SystemId";
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                });

            }
        })

    </script>
}