

@{
    ViewData["Title"] = "";
}



<div id="app">

    <br />
    <br />
    <div class="panel panel-default">
        <div class="panel-heading"><h2>Value domains</h2></div>
        <div class="panel-body">Value domain meta data describes simple lists of static value pairs. Value domains are used in UI controls such as Comboboxes where the user selects one or more values.</div>
    </div>
    <br />
    <br />

    <div>
        <div class="btn btn-default" v-on:click="addDomain">
            <span class="glyphicon glyphicon-plus"></span> Add value domain
        </div>
    </div>


</div>

@section Scripts
{
   
 
}