

@{
    ViewData["Title"] = "Edit application";
}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />
    <br />

    <div class="card">
        <div class="card-header"><h2>Edit {{model.title}}</h2></div>
        <div class="card-body">
            Edit basic model data for application {{model.title}}
        </div>
    </div>

    <br />

    <a asp-action="GetList" asp-controller="Model" role="button" class="btn btn-sm btn-outline-secondary"><span class="far fa-hand-point-left" style="font-size:large"></span> Back to list</a>


    <br />
    <br />

    @await Html.PartialAsync("_MetaAppDescription")


    <br />
    <br />

    <button class="btn btn-sm btn-primary" type="button" v-on:click="saveApplication()"><span class="fa fa-save"></span> Save changes</button>

</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {}
               ,systems:[]
            },
            methods:
            {
                saveApplication: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "Save";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response) {
                            window.location.reload(true);
                        }
                    });
                },
                setCodes: function ()
                {


                }
            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';
                var endpointurl = baseurl + "GetApplication/@ViewBag.SystemId";
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                    var endpointurl = baseurl + "GetSystems";
                    $.get(endpointurl, function (response) {
                        context.systems = response;
                    });
                });

            }
        })

    </script>
}