

@{
    ViewData["Title"] = "Manage database";
}


@await Html.PartialAsync("_Modals")

<div id="app">


    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Database model designer</h2></div>
        <div class="card-body">Define the data structure for the {{model.title}} application</div>
    </div>

    <br />


    <a asp-action="GetList" asp-controller="Model" role="button" class="btn btn-sm btn-default"><span class="fa fa-backward"></span> Back to list</a>
    <br />
    <br />

    <h4>Database tables</h4>

    <div>
        <div class="btn btn-sm btn-secondary" v-on:click="addDbTable">
            <span class="fa fa-plus"></span> Add table
        </div>
        <div class="btn btn-sm btn-primary" v-on:click="saveApplicationDB" style="float:right">
            <span class="fa fa-save"></span> Save changes
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:40%">Table name <span style="color: red"> *</span></th>
                <th style="width:50%">Description <span style="color: red"> *</span></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tr v-for="item in model.tables">
            <td><input type="text" class="form-control form-control-sm" v-model="item.dbName" :disabled="item.isDefaultTable" /></td>
            <td><input type="text" class="form-control form-control-sm" v-model="item.description" :disabled="item.isDefaultTable" /></td>
            <td></td>
        </tr>
    </table>

    <br />
    <br />

    <h4>Database columns</h4>

    <div>
        <div class="btn btn-sm btn-secondary" v-on:click="addDbColumn">
            <span class="fa fa-plus"></span> Add column
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th style="width:23%">Table name <span style="color: red"> *</span></th>
                <th style="width:18%">Column name <span style="color: red"> *</span></th>
                <th style="width:18%">Data type <span style="color: red"> *</span></th>
                <th style="width:28%">Description</th>
                <th style="width:8%"></th>
            </tr>
        </thead>
        <tbody v-for="col in model.columns">
            <tr>
                <td><span class="fa fa-cog" v-on:click="handleSettings(col)" style="cursor:pointer"></span></td>
                <td>
                    <select v-model="col.tableName" class="form-control form-control-sm">
                        <option v-for="tbl in model.tables" v-bind:value="tbl.dbName">{{tbl.dbName}}</option>
                    </select>
                </td>
                <td><input type="text" class="form-control form-control-sm" v-model="col.dbName" /></td>
                <td>
                    <select v-model="col.dataType" class="form-control form-control-sm">
                        <option v-for="tp in datatypes" v-bind:value="tp">{{tp}}</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="form-control form-control-sm" v-model="col.description" />
                </td>
                <td><span v-on:click="deleteDbColumn(col)" class="fa fa-trash" style="cursor:pointer"></span></td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="5">
                    <div v-if="col.showSettings">
                        <b>Column settings</b>
                        <br />

                        <div class="form-check-inline">
                            <label class="form-check-label">
                                <input type="checkbox" v-model="col.mandatory" class="form-check-input" />Mandatory
                            </label>
                        </div>
                        <br />
                        <br />
                        Domain <input type="text" class="form-control form-control-sm" v-model="col.domain" style="width:450px" />
                        <br />
                        <br />

                        <div class="row">
                            <div class="col-lg-3">
                               Property
                            </div>
                            <div class="col-lg-3">
                               Value
                            </div>

                            <div class="col-lg-3">
                              Action
                            </div>
                            <div class="col-lg-3">

                            </div>

                            <hr />
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <select id="propcbox"
                                            name="propcbox"
                                            v-model="active_property_selection"
                                            class="form-control form-control-sm">
                                        <option v-for="item in validProperties(col)" v-bind:value="item">{{item.title}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div v-if="active_property_selection.isBoolType">
                                    <div class="form-group">
                                    </div>
                                </div>
                                <div v-if="active_property_selection.isStringType">
                                    <div class="form-group">
                                        <input class="form-control-sm" v-model="active_property_selection.currentValue" type="text" />
                                    </div>
                                </div>
                                <div v-if="active_property_selection.isNumericType">
                                    <div class="form-group">
                                        <input class="form-control-sm" v-model="active_property_selection.currentValue" type="number" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-secondary">Add</button>
                                </div>
                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>


                        <hr />
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in col.propertyPresentations">
                                    <td>{{item.title}}</td>
                                    <td>{{item.presentationValue}}</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>



</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: { tables: [], columns: [] },
                datatypes: [],
                valuedomains: [],
                metaproperties: [],
                active_property_selection: {},
                idgen:-1
            },
            methods:
            {
                handleSettings: function (item)
                {


                    this.active_property_selection = {};
                    item.showSettings = !item.showSettings;
                    this.$forceUpdate();
                    return false;
                },
                saveApplicationDB: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "SaveApplicationDB";


                    if (!hasRequiredValues(context.model.tables, ["dbName"]) ||
                       !hasRequiredValues(context.model.columns, ["tableName","dbName","dataType"]))
                    {
                        raiseValidationErrorModal("Can't save since some required fields are missing.");
                        return;
                    }

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response)
                        {
                            context.model = response;
                        },
                        error: function (response)
                        {
                            raiseErrorModal(response.responseJSON);
                        }
                    });

                },
                onPropertySelect: function (event) {
                    var context = this;

                   
                   
                },
                validProperties: function (item)
                {
                    var context = this;

                    if (!item.metaType)
                        return [];

                    var result = [];
                    for (var i = 0; i < context.metaproperties.length; i++)
                    {
                        var isincluded = false;
                        if (context.metaproperties[i].validFor) {
                            for (var z = 0; z < context.metaproperties[i].validFor.length; z++) {

                                if (item.metaType === context.metaproperties[i].validFor[z])
                                    isincluded = true;
                            }
                        }
                        if (isincluded)
                            result.push(context.metaproperties[i]); 
                    }
                   
                    return result;
                },
                addDbTable: function ()
                {
                    var context = this;
                    context.idgen -= 1;
                    context.model.tables.unshift({ properties: "", metaType: "DATATABLE", properties: "", id: context.idgen });
                },
                addDbColumn: function () {
                    var context = this;
                    context.idgen -= 1;
                    context.model.columns.unshift({ properties: "", metaType: "DATACOLUMN", id: context.idgen, showSettings:false, mandatory: false, domain:"" });
                }
                ,
                deleteDbColumn: function (col)
                {
                    var context = this;

                    if (col.id < 1)
                    {
                        for (var i = 0; i < context.model.columns.length; i++)
                        {
                            if (context.model.columns[i].id === col.id)
                            {
                                context.model.columns.splice(i, 1);
                                break;
                            }
                        }
                        return;
                    }

                    var yesfunc = function ()
                    {

                        var baseurl = '@Url.Content("~/Model/API/")';
                        var endpointurl = baseurl + "RemoveFromApplicationDB";


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(col),
                            success: function (response) {
                                context.model = response;
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    raiseYesNoModal("Delete column ?", "Warning if this column is bound to an UI component, you might break the application. Delete anyway ?", yesfunc);

                }

            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';
                var endpointurl = baseurl + "GetApplicationDB/@ViewBag.SystemId";
                //Application
                $.get(endpointurl, function (response){
                    context.model = response;

                    //DataTypes
                    endpointurl = baseurl + "GetApplicationTableDataTypes";
                    $.get(endpointurl, function (response) {
                        context.datatypes = response;

                        //Properties
                        endpointurl = baseurl + "GetIntwentyProperties";
                        $.get(endpointurl, function (response) {
                            context.metaproperties = response;
                        }).fail(function (response) {
                            raiseErrorModal(response.responseJSON);
                        });
                    }).fail(function (response) {
                        raiseErrorModal(response.responseJSON);
                    });
                }).fail(function (response){
                    raiseErrorModal(response.responseJSON);
                });


             


            }
        })

    </script>
}