

@{
    ViewData["Title"] = "Add / Edit Data views";
}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />
    <br />

    <div class="card">
        <div class="card-header"><h2>Dataview model designer</h2></div>
        <div class="card-body">Dataviews are used to create on the fly list queries from database tables or views. They can be used together with custom UI:s or together with the 'Look Up' UI Control. A data view includes an sql query and a list of fields that the query is expected to return.</div>
    </div>

    <br />
    <br />

    <div>
        <div class="btn btn-sm btn-secondary" v-on:click="addDataView">
            <span class="fa fa-plus"></span> Add data view
        </div>
    </div>

    <br />

    <div v-for="item in dataviews" class="row">
       
        <div class="col-sm-8">
            <div style="padding: 5px; border:dotted 1px gray">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="control-label">Title <span style="color: red"> *</span></label>
                        <div class="form-inline">
                            <input type="text" class="form-control form-control-sm" v-model="item.title" />
                            <div class="btn btn-sm btn-primary ml-2" v-on:click="saveDataView(item)">
                                <span class="fa fa-save"></span> Save
                            </div>
                            <button class="btn btn-sm btn-danger ml-2" v-on:click="deleteDataView(item, 'Delete dataview ?')"><i class="fa fa-trash"></i></button>
                        </div>

                        <div class="form-group">
                            <label class="control-label">SQL Query <span style="color: red"> *</span></label>
                            <br />
                            <textarea style="width:100%" rows="4" v-model="item.sqlQuery"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">

                       


                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="margin: 5px">
                        <b>Fields: </b> {{getViewFieldsString(item)}}
                        <br />
                        <label class="control-label" v-if="!item.showSettings"><a href="#" v-on:click="handleSettings(item)">[Show field definitions]</a></label>
                        <label class="control-label" v-if="item.showSettings"><a href="#" v-on:click="handleSettings(item)">[Close field definitions]</a></label>
                        <br />
                        <div v-if="item.showSettings">
                            <div>
                                <div class="btn btn-sm btn-secondary" v-on:click="addDataViewField(item)">
                                    <span class="glyphicon glyphicon-plus"></span> Add view field
                                </div>
                            </div>
                            <br />
                            <table class="table table">
                                <thead>
                                    <tr>

                                        <th style="width:30%">Title <span style="color: red"> *</span></th>
                                        <th style="width:60%">SQL query field <span style="color: red"> *</span></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody v-for="field in item.fields">
                                    <tr>

                                        <td><input type="text" class="form-control form-control-sm" v-model="field.title" /></td>
                                        <td><input type="text" class="form-control form-control-sm" v-model="field.sqlQueryFieldName" /></td>
                                        <td><button class="btn btn-sm btn-danger ml-2" v-on:click="deleteDataView(field, 'Delete dataview column ?')"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />

                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>



</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                dataviews: []
            },
            methods:
            {
                handleSettings: function (item)
                {
                    item.showSettings = !item.showSettings;
                    this.$forceUpdate();
                    return false;
                },
                saveDataView: function (item)
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "SaveDataViewModels";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(item),
                        success: function (response)
                        {
                            context.dataviews = response;
                            for (var i = 0; i < context.dataviews.length; i++)
                                context.dataviews[i].showSettings = false;
                        },
                        error: function (response)
                        {
                            raiseErrorModal(response.responseJSON);
                        }
                    });

                },
                deleteDataView: function (item, msg)
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "DeleteDataViewModel";

                    var yesfunc = function ()
                    {
                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(item),
                            success: function (response) {
                                context.dataviews = response;
                                for (var i = 0; i < context.dataviews.length; i++)
                                    context.dataviews[i].showSettings = false;
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });
                    };

                    raiseYesNoModal(msg, "", yesfunc);

                },
                addDataView: function () {
                    var context = this;
                    context.dataviews.unshift({ properties: "", fields: [], id: -1, showSettings: false });
                },
                addDataViewField: function (item) {
                    item.fields.unshift({ properties: "", id: -1 });
                },
                getViewFieldsString: function (item)
                {
                    var str = "";
                    for (var i = 0; i < item.fields.length; i++)
                    {
                        if (str == "")
                            str += item.fields[i].title;
                        else
                            str += ", " + item.fields[i].title;
                    }

                    return str;
                }
            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';

                //DataViews
                var endpointurl = baseurl + "GetDataViewModels";
                $.get(endpointurl, function (response)
                {
                    context.dataviews = response;
                    for (var i = 0; i < context.dataviews.length; i++)
                        context.dataviews[i].showSettings = false;
                }).fail(function (response) {
                    raiseErrorModal(response.responseJSON);
                });



            }
        })
    </script>
}