

@{
    ViewData["Title"] = "Add / Edit Model Translations";
}

@await Html.PartialAsync("_Modals")


<div id="app">

    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Localization Keys</h2></div>
        <div class="card-body">Manage localization keys and texts.</div>
    </div>
    <br />
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" v-if="model.modelSaved">
        <strong>Changes have been saved !</strong><br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <br />
    <div>
        <div class="btn btn-sm btn-primary" v-on:click="saveChanges">
            <span class="glyphicon glyphicon-save"></span> Save changes
        </div>


        <div class="btn btn-sm btn-secondary" v-on:click="addTranslation" style="float:right">
            <span class="fa fa-plus"></span> Add translation
        </div>

    </div>

    <br />
    <br />

    <table class="table table">
        <thead>
            <tr>

                <th style="width:30%">Culture <span style="color: red"> *</span></th>
                <th style="width:30%">Key <span style="color: red"> *</span></th>
                <th style="width:30%">Text <span style="color: red"> *</span></th>
                <th style="width:10%"></th>
            </tr>
        </thead>
        <tbody v-for="entry in model.translations">
            <tr>
                <td><input type="text" class="form-control form-control-sm" v-model="entry.culture" v-on:input="markChanged(entry)" /></td>
                <td><input type="text" class="form-control form-control-sm" v-model="entry.key" v-on:input="markChanged(entry)" /></td>
                <td><input type="text" class="form-control form-control-sm" v-model="entry.text" v-on:input="markChanged(entry)" /></td>
                <td><div class="btn btn-sm btn-danger" v-on:click="deleteTranslation(entry)"><i class="fa fa-trash"></i></div></td>
            </tr>
        </tbody>
    </table>

</div>

@section Scripts
    {

    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                model: {  },
                idgen: -1
            },
            methods: {


                addTranslation: function ()
                {
                    this.idgen -= 1;
                    this.model.translations.unshift({ id: this.idgen, culture: "", key: "", text: "" });
                },
                deleteTranslation: function (entry)
                {
                    var context = this;

                    if (entry.id < 1)
                    {
                        for (var i = 0; i < context.model.translations.length; i++)
                        {
                            if (context.model.translations[i].id === entry.id)
                            {
                                context.model.translations.splice(i, 1);
                                break;
                            }
                        }
                        return;
                    }

                    var yesfunc = function ()
                    {

                        var baseurl = '@Url.Content("~/Model/API/")';
                        var endpointurl = baseurl + "DeleteNonModelTranslation";


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(entry),
                            success: function (response) {
                                context.model = response;
                               
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    raiseYesNoModal("Delete translation ?", "A translation will be deleted, continue ?", yesfunc);

                },
                markChanged: function (entry)
                {
                    entry.changed = true;

                },
                saveChanges: function ()
                {

                    var context = this;

                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "SaveNonModelTranslations";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response)
                        {
                            context.model = response;
                            context.model.modelSaved = true;
                            setTimeout(function () { context.model.modelSaved = false; }, 3000);
                        },
                        error: function (response)
                        {
                            raiseErrorModal(response.responseJSON);
                        }
                    });

                }
            },
            computed:
            {
                example: function ()
                {

                }

            },
            mounted: function ()
            {

                //Translations
                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';
                var endpointurl = baseurl + "GetNonModelTranslations";
                $.get(endpointurl, function (response) {
                    context.model = response;
                });

            }
        });
    </script>

}

