@{
    ViewData["Title"] = "Logviewer";
    var logname = "Intwenty";
    if (ViewBag.LogName != null) 
    {
        logname = ViewBag.LogName;

    }
}

<div id="app">

    <br />
    <br />
    <div class="card">
        <div class="card-header"><h2>Logviewer</h2></div>
        <div class="card-body">
            @if (logname == "Intwenty")
            {
            <div class="alert alert-primary">
                This is the intwenty event log it contains events regarding models and applications.
                @if (Settings.Value.UseSeparateIAMDatabase)
                {
                    <span>This instace is configured with a separate IAM database, see IAM related events <a asp-controller="model" asp-action="EventLog" asp-route-logname="IAM"> here....</a></span>
                }
                else
                {
                    <span>This instace is configured to share database with IAM (Identity Access Management), which implies that events related to users, organizations and products also is visible.</span>
                }
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            }
            @if (logname == "IAM")
            {
                <div class="alert alert-primary">
                    This is the IAM event log it contains events regarding users, organization and products.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            }
        </div>
    </div>

    <br />

    <br />

    <h5>Logentries</h5>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Event Date</th>
                <th>Verbosity</th>
                <th>Message</th>
                <th>User</th>
                <th>App</th>
            </tr>
        </thead>
        <tr v-for="item in list">
            <td>{{item.id}}</td>
            <td>{{item.eventDate}}</td>
            <td>{{item.verbosity}}</td>
            <td>{{item.message}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.appMetaCode}}</td>
        </tr>
    </table>



</div>

@section Scripts
{


    <script>

      var app = new Vue({
            el: '#app',
            data:
            {
                list:[]
            },
            methods: {


            },
            computed:
            {
                example: function ()
                {

                }

            },
            mounted: function ()
            {

                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';
                var endpointurl = baseurl + "GetEventlog/@logname";
                $.get(endpointurl, function (response)
                {
                    context.list = response;
                });

            }
        });


    </script>


}