
@await Html.PartialAsync("_Modals")

<div id="app">
    <div>
        <br />
        <br />

        <div class="card">
            <div class="card-header"><h2>Manage applications</h2></div>
            <div class="card-body">Create and manage application meta data used to describe UI and database</div>
        </div>

        <br />
        <br />

        <a asp-action="Create" asp-controller="Model" role="button" class="btn btn-sm btn-primary"><span class="fa fa-plus"></span> Create New Application</a>

        <br />
        <br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:20%">Title</th>
                    <th style="width:25%">Description</th>
                    <th style="width:20%"></th>
                    <th style="width:15%"></th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tr v-for="item in datalist">
                <td><a v-bind:href="'/Model/Edit/' + item.id" role="button" class="btn btn-sm btn-secondary">Edit</a></td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td><a v-bind:href="'/Model/EditDB/' + item.id" role="button" class="btn btn-sm btn-secondary">Manage database</a></td>
                <td><a v-bind:href="'/Model/EditUI/' + item.id" role="button" class="btn btn-sm btn-secondary">Manage UI</a></td>
                <td><a href="#" role="button" class="btn btn-sm btn-danger" v-on:click="deleteApplication(item)">Delete</a></td>
            </tr>
        </table>

    </div>
</div>


@section Scripts
{

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                datalist: []
            },
            methods: {

                getApplications: function () {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "GetApplications";


                    $.get(endpointurl, function (response)
                    {
                        context.datalist = response;
                    });


                },
                deleteApplication: function (item)
                {
                    var context = this;

                    var yesfunc = function ()
                    {

                        var baseurl = '@Url.Content("~/Model/API/")';
                        var endpointurl = baseurl + "DeleteApplicationModel";


                        $.ajax({
                            url: endpointurl,
                            type: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(item),
                            success: function (response) {
                                context.datalist = response;
                            },
                            error: function (response) {
                                raiseErrorModal(response.responseJSON);
                            }
                        });
                    }

                    raiseYesNoModal("Delete the entire application ?", "Warning all configurations including the data model and UI model will be deleted. Continue ?", yesfunc);


                }
            },
            computed: {


            },
            mounted: function ()
            {

                var context = this;
                context.getApplications();

            }
        });
    </script>


}