
@{
    ViewData["Title"] = "Import Data";
}



@await Html.PartialAsync("_Modals")

    <div id="app">

        <div class="card">
            <div class="card-header"><h2>Import Data</h2></div>
            <div class="card-body">
                Use this tool to upload an intwenty data file (intwentydata.json)
            </div>
        </div>

        <br />
        <br />
        <input type="checkbox" v-model="model.deleteCurrent" /> Delete current data before importing
        <br />
        <br />
        <label class="control-label"> Upload data file</label>
        <div style="padding:10px; border: thin solid  lightgray">

            <div class="file btn btn-sm btn-primary" v-on:click="onFileUpload">

                <span class="fas fa-cloud-upload-alt"></span> Upload
                <div class="spinner-grow spinner-grow-sm text-light" v-if="model.isRunning"></div>

                <input id="modelfileinput"
                       name="modelfileinput"
                       type="file"
                       class="uploadInput"
                       v-on:change="onFileChanged"
                       accept=".json" />
            </div>



        </div>

        <br />
        <br />

        <div class="alert alert-success" role="alert" v-if="model.uploadresult.isSuccess && model.uploadresult.hasMessage">
            {{model.uploadresult.result}}
        </div>

        <div class="alert alert-danger" role="alert" v-if="!model.uploadresult.isSuccess && model.uploadresult.hasMessage">
            {{model.uploadresult.userError}}
        </div>




    </div>

@section Scripts
    {
    <script>

      

        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    "uploadresult": {}, "deleteCurrent": false, "isRunning":false
                }
            },
            methods:
            {
                onFileUpload: function ()
                {
                    $('#modelfileinput').val('');
                    $('#modelfileinput').trigger('click');
                },
                onFileChanged: function (event)
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/")';
                    var endpointurl = baseurl + "UploadData";

    

                    var yesfunc = function () {
                        context.model.isRunning = true;
                        var formData = new FormData();
                        formData.append('File', event.srcElement.files[0]);
                        formData.append('delete', context.model.deleteCurrent);
                      
           

                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function ()
                        {
                            if (xhr.readyState === 4)
                            {

                                context.model.isRunning = false;
                                var result = JSON.parse(xhr.response);
                                 context.model.uploadresult = result;
                                

                            }
                        }
                        xhr.open('POST', endpointurl, true);
                        xhr.send(formData);
                    };

                    raiseYesNoModal("Import Data ?", "This will import data to your database if it matches the current model. Continue ?", yesfunc);


                }
            },
            mounted: function ()
            {

            }
        })

    </script>
}