@model Intwenty.Models.OperationResult

@{
    ViewData["Title"] = "Generate Test Data";
}


<br />
<br />

<div>

    @{
       

            foreach (var x in Model.Messages)
            {

                <p>@x.Code - @x.Message</p>

            }

        
    }

</div>