@model Intwenty.Data.Dto.OperationResult

@{
    ViewData["Title"] = "Validate meta model";
}


<br />
<br />
<div class="card">
    <div class="card-header"><h2>Meta model validation results</h2></div>
    <div class="card-body">Checks the status of the meta data registry.</div>
</div>
<br />
<br />

<div>

    <table>
        <thead>
            <tr>
                <th style="width: 30%">Status</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var x in Model.Messages)
                {

                    <tr>
                        @if (x.Code == "ERROR")
                        {
                            <td style="color:red">@x.Code</td>
                        }
                        else if (x.Code == "WARNING")
                        {
                            <td style="color:orange">@x.Code</td>
                        }
                        else
                        {
                            <td style="color: cornflowerblue">@x.Code</td>
                        }

                        <td>@x.Message</td>
                    </tr>

                }
            }
        </tbody>
    </table>

</div>