@model IUIBinding

@if (Model.HasPropertyWithValue("LABELSIZE", "H1"))
{
    <h3>{{@Model.VueModelBinding}}</h3>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H2"))
{
<h2>{{@Model.VueModelBinding}}</h2>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H3"))
{
<h3>{{@Model.VueModelBinding}}</h3>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H4"))
{
<h4>{{@Model.VueModelBinding}}</h4>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H5"))
{
<h5>{{@Model.VueModelBinding}}</h5>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H6"))
{
<h6>{{@Model.VueModelBinding}}</h6>
}
else
{
<b>{{@Model.VueModelBinding}}</b><br />
}

