@model IUIBinding

@if (Model.HasPropertyWithValue("LABELSIZE", "H1"))
{
    <h3>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h3>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H2"))
{
<h2>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h2>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H3"))
{
<h3>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h3>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H4"))
{
<h4>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h4>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H5"))
{
<h5>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h5>
}
else if (Model.HasPropertyWithValue("LABELSIZE", "H6"))
{
<h6>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</h6>
}
else
{
<b>{{@Model.JavaScriptObjectName.@Model.DataColumnDbName}}</b><br />
}

