

@{
    ViewData["Title"] = "Add / Edit No Series";
}



<div id="app">

    <br />
    <br />

    <div class="card">
        <div class="card-header"><h2>Number series</h2></div>
        <div class="card-body">Number series meta data describes default input values for fields in applications. Example for an app named purchase order, you might want to generate purchase order id's named PURCH-10001, PURCH-10002 etc</div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-lg-6">
            <div class="btn btn-sm btn-default" v-on:click="addNoSerie">
                <span class="glyphicon glyphicon-plus"></span> Create new number serie
            </div>
        </div>
        <div class="col-lg-6">
            <div class="btn btn-sm btn-primary" v-on:click="saveChanges" style="float:right">
                <span class="glyphicon glyphicon-save"></span> Save changes
            </div>
        </div>
    </div>

    <br />
    <br />

    <table class="table table">
        <thead>
            <tr>

                <th style="width:20%">Description <span style="color: red"> *</span></th>
                <th style="width:20%">Valid for tablename <span style="color: red"> *</span></th>
                <th style="width:20%">Valid for columnname <span style="color: red"> *</span></th>
                <th style="width:15%">Prefix <span style="color: red"> *</span></th>
                <th style="width:10%">Start value <span style="color: red"> *</span></th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody v-for="entry in noseries">
            <tr>

                <td><input type="text" class="form-control form-control-sm" v-model="entry.description" v-on:input="markChanged(entry)" /></td>
                <td>
                    <select v-model="entry.tableName" class="form-control form-control-sm" v-on:change="tableChanged(entry)">
                        <option v-for="tbl in apptables" v-bind:value="tbl.dbName">{{tbl.dbName}}</option>
                    </select>
                </td>
                <td>
                    <select v-model="entry.columnName" class="form-control form-control-sm">
                        <option v-for="col in tablecolumns(entry)" v-bind:value="col.dbName">{{col.dbName}}</option>
                    </select>
                </td>
                <td><input type="text" class="form-control form-control-sm" v-model="entry.prefix" v-on:input="markChanged(entry)" /></td>
                <td><input type="text" class="form-control form-control-sm" v-model="entry.startValue" v-on:input="markChanged(entry)" /></td>
                <td><div class="btn btn-sm btn-danger" v-on:click="deleteNoSeries(entry)"><span class="glyphicon glyphicon-remove"></span> Delete</div></td>
            </tr>
        </tbody>
    </table>




</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                model: { showNew:false },
                noseries: [],
                apptables: []
            },
            methods: {
                tablecolumns: function (entry)
                {
                    var arr = [];
                    if (!entry.tableName)
                        return arr;
                    if (entry.tableName == "")
                        return arr;

                    for (var i = 0; i < this.apptables.length; i++) {
                        if (this.apptables[i].dbName === entry.tableName) {
                            for (var z = 0; z < this.apptables[i].columns.length; z++)
                                arr.push(this.apptables[i].columns[z]);
                        }
                    }

                    return arr;

                },
                addNoSerie: function ()
                {
                    this.noseries.push({id:-1, startValue:1000, prefix: "", tableName: "", columnName:""});
                },
                deleteNoSerie: function (entry)
                {


                },
                markChanged: function (entry)
                {
            

                },
                tableChanged: function (entry)
                {
                    for (var i = 0; i < this.apptables.length; i++)
                    {
                        if (this.apptables[i].dbName === entry.tableName)
                        {
                            entry.applicationId = this.apptables[i].applicationId;
                        }
                    }

                },
                saveChanges: function ()
                {
                    
                }
            },
            computed:
            {
              
             

            },
            mounted: function ()
            {

                //NoSeries
                var context = this;
                var baseurl = '@Url.Content("~/Model/")';
                var endpointurl = baseurl + "GetNoSeries";
                $.get(endpointurl, function (response) {
                    context.noseries = response;
                });

                var endpointurl = baseurl + "GetListOfDatabaseTables";
                $.get(endpointurl, function (response) {
                    context.apptables = response;
                });

             

            }
        });
    </script>

}