@model Moley.MetaDataService.Model.ApplicationModel

<br />
<br />

@{
    var title = Model.Application.Title + " List";
    var lv = Model.UIStructure.Find(p => p.IsUITypeListView);
    if (lv != null)
    {
        title = lv.Title;
    }
    else
    {
        throw new InvalidOperationException("No LISTVIEW meta data is defined for this application");
    }
}

<h2>@title</h2>

<div id="fileUploadApp">
    <div class="file btn btn-lg btn-primary" v-on:click="onFileUpload">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload new file
        <input type="file" name="file" class="uploadInput" id="fileInput" v-on:change="onFileChange" />
    </div>
</div>

<br />
<br />

<div id="app">

    <br />
    <br />

    @await Html.PartialAsync("_DefaultListView", Model)

</div>

@section Scripts
    {
    <script src="~/js/getlist.js"></script>
    <script>
        var app = createVue('#app',@Model.Application.Id, '@Url.Content("~/Application/")');

        var innerapp = new Vue({
            el: '#fileUploadApp',
            data: {

            },
            methods:
            {
                onFileUpload: function () {
                    $("#fileInput").trigger('click');
                },
                onFileChange: function (event)
                {
                    var baseurl = '@Url.Content("~/Custom/")';
                    var endpoint = baseurl + 'UploadDocument';
                    var formData = new FormData();
                    formData.append('File', event.srcElement.files[0]);
                    formData.append('FileName', event.srcElement.files[0].name);
                    formData.append('FileSize', event.srcElement.files[0].size);

                    var xhr = new XMLHttpRequest();
                    // Add any event handlers here...
                    xhr.open('POST', endpoint, true);
                    xhr.send(formData);

                }
            }
        });
    </script>

}