@{
    ViewData["Title"] = "Start";
}

<!--

    <div class="border border-dark" style="margin-top: 100px; padding:20px; border-radius:12px">
        <div style="font-size: 58px">Intwenty</div>
        <div style="font-size: 38px">A metadata based application platform</div>
    </div>
        -->


<div id="app">
    <select2 :options="getSelect2Format(valuedomain)" class="form-control form-control-lg" v-model="model.somefield"></select2>
    {{model}}
</div>





@section Scripts
{

   

    <script>
        Vue.prototype.getSelect2Format = function getSelect2Format(valuedomain) {
            if (!valuedomain)
                return [];

            var t = [];
            for (var i = 0; i < valuedomain.length; i++) {
                t.push({ id: valuedomain[i].Id, text: valuedomain[i].Value });
            }

            return t;
        };

        Vue.component("select2", {
            props: ["options", "value"],
            template: '<select multiple="multiple"><slot></slot></select>',
            mounted: function () {
                var vm = this;
                var element = $(this.$el);

               // init select2
                element.select2({ multiple: true, data: this.options }).on("select2:select", function () {
                    //var selections = (JSON.stringify(element.select2('data')));
                    var selections = element.val();
                    vm.$emit("input", selections);

                }).on("select2:unselect", function () {
                    //var selections = (JSON.stringify(element.select2('data')));
                    var selections = element.val();
                    vm.$emit("input", selections);
                });

                element.val(this.value);
            },
            updated: function () {
                var vm = this;
              
            },
            watch:
            {
                value: function (value)
                {
                    // update value
                    $(this.$el).val(value).trigger("change");

                },
                options: function (options) {
                    // update options
                    $(this.$el).select2({ data: options });
                }
            },
            destroyed: function ()
            {
                $(this.$el)
                    .off()
                    .select2("destroy");
            }
        });


        var app = new Vue({
            el: '#app',
            data: {
                model: {
                    somefield: "" },
                valuedomain: []
            },
            methods:
            {
                test: function () {



                }

            },
            mounted: function () {
                this.valuedomain = [{ Id: 5, Code: "1", Value: "Tag 1" }, { Id: 2, Code: "2", Value: "Tag 2" }, { Id: 6, Code: "3", Value: "Tag 3" }];
                this.model.somefield = ["5","6"];
            }
        })

    </script>

}