@{
    ViewData["Title"] = "Start";
}

<!--

    <div class="border border-dark" style="margin-top: 100px; padding:20px; border-radius:12px">
        <div style="font-size: 58px">Intwenty</div>
        <div style="font-size: 38px">A metadata based application platform</div>
    </div>
        -->


<div id="app">

</div>





@section Scripts
{
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: { somefield: "" },
                valuedomain: [{ Code: "1", Value: "Tag 1" }, { Code: "2", Value: "Tag 2" }, { Code: "3", Value: "Tag 3" }],
                value: {}
            },
            methods:
            {
                test: function () {



                }

            },
            mounted: function () {

            }
        })

    </script>

}