@{
    ViewData["Title"] = "Start";
}

<!--

    <div class="border border-dark" style="margin-top: 100px; padding:20px; border-radius:12px">
        <div style="font-size: 58px">Intwenty</div>
        <div style="font-size: 38px">A metadata based application platform</div>
    </div>

    -->


