

<div id="app">

    {{model}}

    <br />
    <br />

    <div class="form-group">
        <label class="control-label">Test Selectize</label>
        <input type="text" id="multiselect" class="form-control form-control-lg" 
                data-contextobject="model"
                data-dbtable="apptable"
                data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeSearchBox"
                data-dbfield="Code"
                data-dbfield2="Value"
                data-usesearch="TRUE"
                data-multiselect="TRUE"
                data-allowcreate="TRUE"
                data-domain="APPDOMAIN.VENDOR"
               />
    </div>

    <div class="form-group">
        <label class="control-label">Test Combobox</label>
        <select id="combobox" class="form-control"
                data-contextobject="model"
                data-dbtable="apptable"
                data-metatype="@Intwenty.Model.UserInterfaceStructureModelItem.MetaTypeComboBox"
                data-dbfield="CbValue"
                data-dbfield2="CbText"
                data-usesearch="FALSE"
                data-multiselect="FALSE"
                data-allowcreate="FALSE"
                data-domain="APPDOMAIN.VENDOR"
                ></select>
    </div>

</div>





@section Scripts
{
    <script>

        Vue.prototype.initSelectizeControl = function (control)
        {
            var context = this;

            var uiid = "#" + control.id;
            var contextobject = $(control).data('contextobject');
            var tablename = $(control).data('dbtable');
            var codecolname = $(control).data('dbfield');
            var valcolname = $(control).data('dbfield2');
            var domainname = $(control).data('domain');
            var usearch = $(control).data('usesearch');
            var mselect = $(control).data('multiselect');
            var acreate = $(control).data('allowcreate');

            var allowcreate = (acreate == "TRUE");
            var usesearch = (usearch == "TRUE");
            var usemultiselect = (mselect == "TRUE");

            var bindingobject = null;
            if (contextobject=="currentline")
                bindingobject = context.currentline;
            else
                bindingobject = context.model[tablename];


            if (!uiid || !bindingobject)
                return;

            var element = $(uiid);

            if (!element)
                return;

            var plugs = null;
            var iscombobox = false;
            if (element[0].nodeName == 'SELECT') {
                iscombobox = true;
                usesearch = false;
                allowcreate = false;
                maxitems = 1;
            }
            else
            {
                plugs = ['remove_button'];
            }



            var maxitems = 1;
            if (usemultiselect)
                maxitems = 10;

            var t = $(uiid).selectize({
                plugins: plugs
                , delimiter: ','
                , maxItems: maxitems
                , valueField: 'code'
                , labelField: 'value'
                , searchField: 'value'
                , options: []
                , create: allowcreate
                , preload :true
                , load: function (query, callback)
                {
                    if (!query || !usesearch || iscombobox)
                        query = 'ALL';
                    if (usesearch && !iscombobox && query == 'ALL')
                        query = 'PRELOAD';

                    if (!domainname) return callback();

                    $.get('/Application/API/GetValueDomain/' + domainname + '/' + query, function (response) {
                        callback(response);
                        if (bindingobject[codecolname]) {
                            var persisteditems = bindingobject[codecolname].split(",");
                            for (var i = 0; i < persisteditems.length; i++) {
                                //t[0].selectize.addOption({ Code: persisteditems[i], Value: persisteditems[i] });
                                //ADD ITEM BUT DONT TRIGGER CHANGE
                                t[0].selectize.addItem(persisteditems[i],true);

                            }
                        }
                    });
                }
               
            });

           

            t.on('change',
                function ()
                {
                    var selected_objects = $.map(t[0].selectize.items, function (value) {
                        return t[0].selectize.options[value];
                    });

                    var codestr = "";
                    var valstr = "";
                    var delim = "";
                    for (var i = 0; i < selected_objects.length; i++)
                    {
                        var code = selected_objects[i].code;
                        var val = selected_objects[i].value;
                        codestr += delim + code;
                        valstr += delim + val;
                        delim = ",";

                    }
                    if (codecolname)
                        bindingobject[codecolname] = codestr;

                    if (valcolname)
                        bindingobject[valcolname] = valstr;
                });
        };

          var app = new Vue({
            el: '#app',
              data: {

                  model: {
                      apptable: { Code: "2,Goof,1", Value: "", CbValue: "3", CbText: "" }}

              },
            methods:
            {
                setUpControls: function ()
                {
                    var context = this;

                    $("input[data-metatype],select[data-metatype]").each(function ()
                    {
                        var metatype = $(this).data('metatype');
                        if (metatype === "COMBOBOX" || metatype === "SEARCHBOX" )
                        {
                            context.initSelectizeControl(this);
                        }
                    });


                }


            },
            computed: {

            },
            mounted: function ()
            {
                this.setUpControls();
            }
        });


    </script>

}




