@{
    ViewData["Title"] = "Example 1";
}



<div class="card">
    <div class="card-header"><h2>Example 1</h2></div>
    <div class="card-body">
        <p>A new app called 'My new app' was generated, use it <a asp-controller="Application" asp-action="GetList" asp-route-id="10000"> Here</a></p>
    </div>
</div>



