@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    

    <div id="cookieConsent" class="alert alert-dark alert-dismissible fade show border-dark" role="alert">
        <b>This website uses cookies to improve your experience, by creating an account or logging in you accept our privacy policy</b>
        <button type="button" class="btn btn-info ml-4" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">I accept</span>
        </button>
        <!-- button type="button" class="btn btn-danger ml-2">Reject</button -->
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}