
@{
    ViewData["Title"] = "Parsing Tests";
}



<div id="app">

   
    <h1>{{model}}</h1>



</div>


@section Scripts
    {
    <script>


        var app = new Vue({
            el: '#app',
            data: {
                model: {},
                test1: {},
                test2: {}

            },
            methods:
            {


            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Application/API/")';
                var endpointurl = baseurl + "GetEditData/40/4470";

            $.get(endpointurl, function (response) {
                context.test1 = JSON.parse(response.data);
                context.test2 = response.jElement;
                var t = "";
            });

            }
        })

    </script>
}