
@{
    ViewData["Title"] = "System Tests";
}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />
    <br />

    <div class="card">
        <div class="card-header"><h2>Run System Tests</h2></div>
        <div class="card-body">
            Use this tool to run a set of test cases and present the results.
        </div>
    </div>

    <br />
    <br />


    <button class="btn btn-sm btn-primary" type="button" v-on:click="runTests()">
        <span class="fa fa-cog"></span> Run Tests
        <div class="spinner-grow spinner-grow-sm text-light" v-if="model.isRunning"></div>
    </button>

    <br />
    <br />

    <div>
        <h5>Results</h5>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width:10%">Success</th>
                    <th style="width:40%">Test case</th>
                    <th style="width:50%">Error</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in testresults">
                    <td>{{item.isSuccess}}</td>
                    <td>{{item.result}}</td>
                    <td>{{item.systemError}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>



</div>


@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {isRunning: false},
                testresults: []
            },
            methods:
            {
                runTests: function ()
                {

                    if (this.model.isRunning)
                        return;

                    raiseYesNoModal("Run system tests ?", "", this.callServer);

                }, 
                callServer: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/SystemTest/")';
                    var endpointurl = baseurl + "RunSystemTests";

                    context.model.isRunning = true;

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response)
                        {
                            context.model.isRunning = false;
                            context.testresults = response;
                        }
                    });

                    
                }
                
            },
            mounted: function ()
            {
               
            }
        })

    </script>
}