@model Intwenty.Model.ApplicationModel


@{
    var title = "";
    //var view = Model.UIViews.Find(p => p.IsMetaTypeDetailView);
    Intwenty.Model.UIRendering.UIView view = null;
    if (view != null)
    {
        title = view.LocalizedTitle;
    }


    ViewData["Title"] = title;

}



@await Html.PartialAsync("_Modals")

<div id="app">

    @if (view != null)
    {
        @await Html.PartialAsync("_DefaultAppUI", view);
    }
    else
    {
        <h3>There's no 'detail' view model defined for this application yet.</h3>
    }
</div>

@section Scripts
{


    <script>


    </script>


}