@model Intwenty.Model.ApplicationModel


@{
    var title = "";
    var view = Model.UIStructure.Find(p => p.IsMetaTypeDetailView);
    if (view != null)
    {
        title = view.Title;
        <h3>TODO: DETAIL UI (DETAILVIEW)</h3>
    }
    else
    {
        <h3>There's no 'detail' view model defined for this application yet.</h3>
    }

    ViewData["Title"] = title;

}



@await Html.PartialAsync("_Modals")

<div id="app">




</div>

@section Scripts
{


    <script>


    </script>


}