@model Intwenty.Model.ApplicationModel

@await Html.PartialAsync("_Modals")

<div id="app">
    <div>

        <br />


        @{
            var title = "";
            var lv = Model.UIStructure.Find(p => p.IsMetaTypeEditListView);
            if (lv != null)
            {
                title = lv.Title;
            }
            else
            {
                <h3>There's no 'edit list' view model defined for this application yet.</h3>
            }
        }

        <div class="card">
            <div class="card-header"><h2>@title</h2></div>
            <div class="card-body">

                <ul class="nav">
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="Application" asp-route-id="@Model.Application.Id" role="button" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="fa fa-plus" style="font-size:large"></span> @Localizer["New", new[] { "" }]</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" v-on:click="exportToExcel()" class="nav-link btn btn-sm btn-outline-secondary" style="margin:10px"><span class="fa fa-file-export" style="color:seagreen; font-size:large"></span> Export</a>
                    </li>

                </ul>

            </div>
        </div>




        <br />




        @await Html.PartialAsync("_DefaultListView", Model)

    </div>
</div>

@section Scripts
{
    
    <script>
       
        var app = getVueListView('#app',@Model.Application.Id, '@Url.Content("~/Application/API/")');


    </script>



}