@model Moley.MetaDataService.Model.ApplicationModel

<div id="app">
    <div>

        <br />
        <br />

        @{
            var title = Model.Application.Title + " List";
            var lv = Model.UIStructure.Find(p => p.IsUITypeListView);
            if (lv != null)
            {
                title = lv.Title;
            }
            else
            {
                <h1><span class="label label-warning btn-lg">There's no listview meta data defined for this application yet.</span></h1>
                return;

            }
        }

        <h2>@title</h2>


        <a asp-action="Create" asp-controller="Application" asp-route-id="@Model.Application.Id" role="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Create New @Model.Application.Title</a>

        <br />
        <br />

        @await Html.PartialAsync("_DefaultListView", Model)

    </div>
</div>

@section Scripts
{
    <script src="~/js/getlist.js"></script>
    <script>
        var app = createVue('#app',@Model.Application.Id,'@Url.Content("~/Application/")');
    </script>
       
   

}