@model Intwenty.Model.ApplicationModel

@await Html.PartialAsync("_Modals")

<div id="app">



    @{
        var pagesize = 20;
        var title = "";
        var view = Model.UIViews.Find(p => p.IsMetaTypeListView);
        if (view != null)
        {
            title = view.Title;
            pagesize = view.PageSize;
        }


        ViewData["Title"] = title;
    }

    <br />
    <br />

    <article v-for="item in datalist">

        @if (view != null)
        {
            @await Html.PartialAsync("_DefaultAppUI", view);
        }
        else
        {
            <h3>There's no 'list' view model defined for this application yet.</h3>
        }

    </article>

    <nav>
        <ul class="pagination">
            <li class="page-item" v-bind:class="{ disabled: isFirstPage }"><a class="page-link" href="#" v-on:click="prevpage()">Previous {{listRetrieveInfo.batchSize}}</a></li>
            <li class="page-item"><a class="page-link" href="#" v-on:click="nextpage()">Next {{listRetrieveInfo.batchSize}}</a></li>
        </ul>
    </nav>

</div>

@section Scripts
{
    
    <script>

        var app = getListView('#app',@Model.Application.Id, '@Url.Content("~/Application/API/")', @pagesize);


    </script>



}