@model Intwenty.Model.ApplicationModel

@await Html.PartialAsync("_Modals")

<div id="app">



        @{
            var title = "";
            var lv = Model.UIStructure.Find(p => p.IsMetaTypeListView);
            if (lv != null)
            {
                title = lv.Title;
                <h3>TODO: List UI (LISTVIEW)</h3>
            }
            else
            {
                <h3>There's no 'list' view model defined for this application yet.</h3>


            }

            ViewData["Title"] = title;
        }



</div>

@section Scripts
{
    
    <script>
       
       

    </script>



}