@model Intwenty.Model.ViewModel


<br />
<br />

@await Html.PartialAsync("_Modals")


<div id="@Model.HtmlId">

    <!-- 1. ADD MODALS AND SOME CONFIG -->
    @foreach (var iface in Model.UserInterface)
    {
        @foreach (var mip in iface.ModalInterfaces)
        {
            @await Html.PartialAsync("UISections/_ModalInputInterface", mip)
        }
    }


    <!-- 2. RENDER THE VIEW HEADER -->
    @await Html.PartialAsync("UISections/_ApplicationViewHeader", Model)


    <br />

    <!-- 3. AFTER SAVE MESSAGE -->
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="savealert" v-if="modelSaved">
        <strong>@Localizer["Changes Saved"] !</strong><br />
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    @foreach (var iface in Model.UserInterface)
    {
        iface.RuntimeRequestInfo = Model.RuntimeRequestInfo;

        iface.CurrentRenderContext = CurrentRenderContextOptions.View;

        <!-- 4. RENDER APPLICATION LISTVIEW -->
        if (iface.IsMetaTypeListInterface && iface.Table.Id > 0 && iface.IsMainApplicationTableInterface && Model.IsApplicationListView())
        {
            @await Html.PartialAsync("UISections/_MainTableListInterface", iface)
        }

        <!-- 5. RENDER APPLICATION ONPAGE INPUT INTERFACES -->
        if (iface.IsMetaTypeInputInterface && iface.IsMainApplicationTableInterface && Model.IsApplicationInputView())
        {
            @await Html.PartialAsync("UISections/_InputInterface", iface)
        }

        <!-- 6. RENDER APPLICATION ONPAGE SUBTABLE INTERFACES -->
        if (iface.IsMetaTypeListInterface && iface.Table.Id > 0 && iface.IsSubTableUserInterface && Model.IsApplicationInputView())
        {
            @await Html.PartialAsync("UISections/_SubTableListInterface", iface)
        }

    }


</div>

@section Scripts
{
    @await Html.PartialAsync("UISections/_ApplicationViewJS", Model)
}
