

@{
    ViewData["Title"] = "Edit application";
}

@await Html.PartialAsync("_Modals")

<div id="app">

    <br />

    <div class="card">
        <div class="card-header"><h2>Edit {{model.title}}</h2></div>
        <div class="card-body">
            Edit basic model data for application {{model.title}}
            <br />
            <ul class="nav">
                <li class="nav-item">
                    <a asp-action="Applications" asp-controller="Model" role="button" class="btn btn-sm btn-outline-secondary" style="margin:10px"><span class="far fa-hand-point-left" style="font-size:large"></span> Back to list</a>
                </li>
                <li class="nav-item">
                    <button class="btn btn-sm btn-primary" type="button" v-on:click="saveApplication()" style="margin:10px;float:right"><span class="fa fa-save"></span> Save changes</button>
                </li>
            </ul>
        </div>
    </div>

    <br />



    @await Html.PartialAsync("_MetaAppDescription")





</div>

@section Scripts
    {
    <script>

        var app = new Vue({
            el: '#app',
            data: {
                model: {}
               ,systems:[]
            },
            methods:
            {
                saveApplication: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Model/API/")';
                    var endpointurl = baseurl + "Save";


                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        success: function (response) {
                            window.location.reload(true);
                        }
                    });
                },
                setCodes: function ()
                {


                }
            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Model/API/")';
                var endpointurl = baseurl + "GetApplication/@ViewBag.SystemId";
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                    var endpointurl = baseurl + "GetSystems";
                    $.get(endpointurl, function (response) {
                        context.systems = response;
                    });
                });

            }
        })

    </script>
}