@page
@model MfaAuthModel
@{
    ViewData["Title"] = "Two factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.MfaAuth;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>


@if (!Model.HasAnyMFA)
{
    foreach (var m in Settings.Value.SupportedMfaMethods)
    {


        if (m.MfaMethod == MfaAuthTypes.Email && !Model.HasEmailMFA)
        {
            <a id="emailmfa" asp-page="./MfaEmail" class="btn btn-outline-secondary m-2" style="min-width:250px">Enable code to email 2FA</a>
        }
        if (m.MfaMethod == MfaAuthTypes.Fido2 && !Model.HasFido2MFA)
        {
            <a id="fido2msa" asp-page="./MfaFido2" class="btn btn-outline-secondary m-2" style="min-width:250px">Enable FIDO2 2FA</a>
        }
        if (m.MfaMethod == MfaAuthTypes.Sms && !Model.HasSmsMFA)
        {
            <a id="smsmfa" asp-page="./MfaSms" class="btn btn-outline-secondary m-2" style="min-width:250px">Enable code to SMS 2FA</a>
        }
        if (m.MfaMethod == MfaAuthTypes.SwedishBankId && !Model.HasBankIdMFA)
        {
            <a id="bankidmfa" asp-page="./MfaSwedishBankId" class="btn btn-outline-secondary m-2" style="min-width:250px">Enable swedish bank ID 2FA</a>
        }
        if (m.MfaMethod == MfaAuthTypes.Totp && !Model.HasTotpMFA)
        {
            <a id="totpmfa" asp-page="./MfaTotp" class="btn btn-outline-secondary m-2" style="min-width:250px">Enable authentication app</a>
        }

    }
}

<br />

@if (Model.HasAnyMFA)
{
    <a asp-page="./MfaDisable" class="btn btn-danger m-2">Disable 2FA</a>
}








