@page
@model MfaTotpModel
@{
    ViewData["Title"] = "Configure 2FA App";
    ViewData["ActivePage"] = ManageNavPages.MfaAuth;
}


<h4>@ViewData["Title"]</h4>

<div id="app">
    <div class="alert alert-danger" v-if="errorVerifyCode">
        The code could not be verified, try the next code from your authenticator app.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="alert alert-success" v-if="step==2">
        Thank you. 2FA with an authentication app is now set up.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

    <div v-if="step==1">
        <p>To use an authenticator app go through the following steps:</p>
        <ol class="list">
            <li>
                <p>
                    Download an authentication app (Microsoft Authenticator or Google Authenticator) to your phone or the device yo're using
                </p>
            </li>
            <li>
                <p>Scan the QR Code or enter this key <kbd>{{model.sharedKey}}</kbd> into your two factor authenticator app. Spaces and casing do not matter.</p>
                <div id="qrCode"></div>
                <div id="qrCodeData" v-bind:data-url="model.authenticatorURI"></div>
            </li>
            <li>
                <p>
                    Once you have scanned the QR code or input the key above, your two factor authentication app will provide you
                    with a unique code. Enter the code in the confirmation box below.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Verification Code</label>
                            <input type="number" class="form-control" autocomplete="off" v-model="model.code" />
                        </div>
                        <button type="submit" class="btn btn-primary" v-on:click="sendCode()">Verify</button>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</div>

@section Scripts {


    <script type="text/javascript" src="~/lib/qrcode/qrcode.min.js"></script>
    <script type="text/javascript">
       
    </script>


    <script>

        var app = new Vue({
            el: '#app',
            data:
            {
                model: { code: "", resultCode:"" },
                step: 1,
                errorVerifyCode: false,
                qrCode: {}
            },
            methods: {


                sendCode: function ()
                {
                    var context = this;
                    var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                    var endpointurl = baseurl + "MfaTotp?handler=VerifyCode";
                    var antiforgerytoken = '@AntiForgery.GetAndStoreTokens(HttpContext).RequestToken';

                    $.ajax({
                        url: endpointurl,
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify(context.model),
                        headers:
                        {
                            RequestVerificationToken: antiforgerytoken
                        },
                        success: function (response) {
                            context.step = 2;
                            context.model = response;
                        },
                        error: function (response) {
                            context.errorVerifyCode = true;
                            context.model = response.responseJSON;
                            context.qrCode.makeCode(context.model.authenticatorURI);
                          
                        }
                    });
                }

            },
            computed:
            {
                example: function ()
                {

                }

            },
            mounted: function ()
            {
                var context = this;
                var baseurl = '@Url.Content("~/Identity/Account/Manage/")';
                var endpointurl = baseurl + "MfaTotp?handler=Load";
                $.get(endpointurl, function (response)
                {
                    context.model = response;
                    context.qrCode = new QRCode(document.getElementById("qrCode"),
                        {
                            text: context.model.authenticatorURI,
                            width: 150,
                            height: 150
                        });
                });
            }
        });
    </script>
}
