@page
@model SmsMfaVerifyModel
@{
    ViewData["Title"] = "Verify SMS Mfa";
    ViewData["ActivePage"] = ManageNavPages.MfaAuth;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<p class="alert alert-primary">We sent a code to your mobile phone, please input the code below</p>

<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Code"></label>
                <input asp-for="Input.Code" class="form-control" />
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Send Code</button>
        </form>
    </div>
</div>