@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;

}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>

<div class="form-group">
    <label class="control-label">Authentication Method</label>
    <select class="form-control" v-model="selectedmethod">
        <option value="NONE">Select</option>
        @if (Settings.Value.UseTotpTwoFactorAuth)
        {
            <option value="TOTP">Auhenticator App</option>
        }
        @if (Settings.Value.UseSmsTwoFactorAuth)
        {
            <option value="SMS">SMS</option>
        }
        @if (Settings.Value.UseEmailTwoFactorAuth)
        {
            <option value="EMAIL">Email</option>
        }
    </select>
</div>

<br />




@if (Model.Is2faEnabled)
{

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">Forget this browser</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
}

<br />
<br />

<h5>Authenticator app</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Add authenticator app</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Setup authenticator app</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reset authenticator app</a>
}

@section Scripts
{

    <script>

        var app = new Vue({
            el: '#app',
            data: {

                selectedmethod:""
                
            },
            methods:
            {
                test: function () {

                }

            },
            mounted: function ()
            {

            }
        });

    </script>
}