@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;

}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>





@if (Model.HasTwofactorAuth && !Settings.Value.ForceMfaAuthentication)
{
    <a asp-page="./Disable2fa" class="btn btn-primary">Disable 2FA</a>
}
else if (Model.HasTwofactorAuth && Settings.Value.ForceMfaAuthentication)
{
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Reset authenticator app</a>
}
else if (!Model.HasTwofactorAuth)
{
    <a id="reset-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Enable authenticator app</a>
    <a id="reset-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Enable authentication via sms</a>
    <a id="reset-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Enable authentication via email</a>
}




